:root {
  --var--background: #0E1014;
  --var--textColor: #E4E5EA;
}

* {
  background-color: var(--var--background);
  color: var(--var--textColor);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Monsterrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #00000000;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.App {
  background-image: url(/public/img/background.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1140px;
  height: 1000px;
  background-color: #00000000;
}

.header-wrapper {
  margin: 55px 0;
  display: flex;
  gap: 50px;
  height: 73px;
}

.header-wrapper>* {
  display: flex;
}

.header-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 140px;
}
.header-logo>span {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #ffffff50;
}

.header-nav {
  gap: 30px;
  width: 60%;
}

.nav-button {
  display: flex;
  padding: 5px 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.header-contacts {
  padding-top: 5px;
  width: 31%;
  justify-content: space-between;
}

.header-contacts__phone {
  letter-spacing: 1px;
}

.header-contacts-buttons {
  display: flex;
  gap: 28px;
}

.header-contacts__button {
  width: 20px;
  height: 20px;
  background-image: url(/public/img/nav-contacts-telegram.png);
  background-repeat: no-repeat;
  background-position: center;
}

.img-phone {
  background-image: url(/public/img/nav-contacts-phone.png);
}

.img-whatsapp {
  background-image: url(/public/img/nav-contacts-whatsapp.png);
}