:root {
  --var--background: #0E1014;
  --var--textColor: #E4E5EA;
}

* {
  background-color: var(--var--background);
  color: var(--var--textColor);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.2s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Monsterrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #00000000;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.App {
  margin: 0;
  padding: 0;
  background-image: url(/public/img/background.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1140px;
  background-color: #00000000;
}

.header-wrapper {
  margin: 55px 0;
  display: flex;
  gap: 50px;
  height: 73px;
}

.header-wrapper>* {
  display: flex;
}

.header-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 140px;
}

.header-logo>span {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #ffffff50;
}

.header-nav {
  gap: 30px;
  width: 60%;
}

.nav-button {
  display: flex;
  padding: 5px 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.header-contacts {
  padding-top: 5px;
  width: 31%;
  justify-content: space-between;
}

.header-contacts__phone {
  letter-spacing: 1px;
}

.header-contacts-buttons {
  display: flex;
  gap: 28px;
}

.header-contacts__button {
  width: 20px;
  height: 20px;
  background-image: url(/public/img/nav-contacts-telegram.png);
  background-repeat: no-repeat;
  background-position: center;
}

.img-phone {
  background-image: url(/public/img/nav-contacts-phone.png);
}

.img-whatsapp {
  background-image: url(/public/img/nav-contacts-whatsapp.png);
}

.body>* {
  background-color: #00000000;
}

.body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.first-col,
.second-col {
  max-width: 400px;
}

.first-col__title,
.first-col__name {
  margin: 20px 0 0;
  letter-spacing: 1px;
  line-height: 60px;
  font-size: 50px;
  font-weight: 400;
}

.first-col__name,
.second-col__span {
  margin: 0;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(115deg, #FCB045, #FF3F78);
}

.second-col__span {
  background-image: linear-gradient(-20deg, #FCB045, #FD1D1D);
}

.first-col__tagline {
  margin-top: 25px;
  width: 70%;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.9px;
  line-height: 25px;
}

.second-col {
  margin: 40px 0 0;
}

.second-col__title {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 35px;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  letter-spacing: 1px;
}

.second-col-row {
  margin: 30px 0;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  gap: 10px;
  width: 80%;
  text-align: right;
  letter-spacing: 1px;
}

.second-col-cell {
  width: 50%;
}

.second-col-cell__title {
  font-size: 18px;
}

.second-col-cell__descr {
  margin-top: 5px;
  font-size: 16px;
}

.second-col__button {
  margin-top: 25px;
  float: right;
  background-color: #4077F3;
  width: 260px;
  height: 60px;
  font-size: 16px;
}

.footer {
  margin: 120px 0;
  display: grid;
  grid-template-columns: 25% 40% 35%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-col-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 150px;
  letter-spacing: 1px;
}

.footer-col:nth-last-child(2) {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.footer-contacts-buttons {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  gap: 10px;
}

.footer-contacts__address {
  margin-top: 10px;
  letter-spacing: 0.6px;
}

.col__title {
  color: #656566;
}

.footer-copyright {
  grid-area: 3 / 1 / 4 / 4;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
  max-width: 250px;
  flex-wrap: wrap;
}

.footer-copyright>* {
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 100;
}

.footer-copyright__link {
  margin-left: auto;
  margin-right: 0;
  text-decoration: underline;
  text-align: right;
}